<div class="page">
  <button (click)="handleBackBtnClick()" type="button" class="page__back-btn">< Назад</button>

  <p *ngIf="!answers" class="page__no-info">{{noInfoMessage}}</p>

  <div *ngIf="answers" class="answers">
    <table>
      <thead>
        <tr>
          <th (click)="sortByAuthor()">Автор</th>
          <th>Принят</th>
          <th (click)="sortByDate()">Дата ответа</th>
          <th>Ссылка на ответ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of answers">
          <td>{{answer.display_name}}</td>
          <td>{{answer.is_accepted ? 'Да' : 'Нет'}}</td>
          <td>{{answer.date}}</td>
          <td>
            <a target="_blank" [href]="answer.link">Ответ</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
